@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
/*******************
Custome Theme Styles
********************/
a,
a:visited,
a:active {
  color: #000;
  text-decoration: none;
}
/*********** 
  Typography
************/
body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
}
h1 {
  color: #ffffff;
  font-size: 5.2581em;
}

h1.entry-title {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  font-size: 2em;
}

/******** 
  Header 
********/
.post,
.page {
  margin: 0;
}

#svg-logo {
  display: block;
  position: absolute;
  top: -50px;
  left: -100px;
  width: 255px;
  z-index: 9999;
  margin-left: 8rem;
}

nav.navbar {
  background-color: #ffffff;
  padding: 50px 5px;
}

nav.navbar .navbar-toggler {
  color: #fff;
  background: #4d3c38;
}

.menu-menu-1-container {
  margin: 0 3rem 0 0;
}

#primary-menu.navbar-nav li a {
  font-size: 1.525em;
  color: #4d3c38;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em;
}

#primary-menu.navbar-nav li a:hover {
  border-bottom: 2px solid #4d3c38;
}

/******** 
  Main 
********/
.page-title {
  background-size: cover;
  background-position: center;
  padding: 8rem 0;
}

.page-body {
  margin: 3em auto;
}

.page-body .row {
  padding: 3em;
}

.box {
  padding: 4rem;
  margin: 2rem;
}

.box h3 {
  font-size: 1.2169em;
  padding: 1rem 0;
}

.box h4 {
  font-size: 3.0081em;
}

.box-title {
  margin-bottom: 2rem;
}

/* The element to apply the animation to */
.intro h2 span {
  width: 6.25rem;
  height: 6.25rem;
  font-size: 1em;
}

/************ 
  Slideshows 
************/
.slideshow .container-fluid {
  padding: 0;
}

.slideshow,
.carousel-control-next:not(:disabled),
.carousel-control-prev:not(:disabled) {
  cursor: url('../img/tdplogo-cursor.png'), auto;
}

.slideshow .slide-overlay {
  background: rgba(58, 86, 165, 0.5);
  position: absolute;
  height: 100%;
  width: 70%;
}

/*********** 
  Sizzle Reel
***********/
.sizzle .down-icon {
  margin: 1rem 0 2rem 0;
}

/*********** 
  Solutions
***********/
.solutions.box {
  background-color: #f9f9f9;
  margin: 0;
}

.solutions-container {
  max-width: 60rem;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.solutions a:visited,
.solutions a:active {
  color: #000;
}

.solutions .card {
  background: none;
  border: none;
}

.solutions .card-body {
  padding: 0.5rem;
}

.solutions .card-img-container {
  max-width: 10rem;
}

.solutions .btn-outline-secondary {
  border-radius: 0;
  max-width: 15rem;
  margin: 2rem auto;
  padding: 0.7rem;
  text-transform: uppercase;
}

.solutions .btn-outline-secondary:hover {
  background-color: #4d3c38;
}

/******** 
  Promos 
********/

.promos {
  color: #fff;
  padding: 6rem 2rem;
}

.promos h3 {
  font-size: 1.2169em;
  padding: 1rem 0;
}

.promos h4 {
  font-size: 3.0081em;
}

.promo-box {
  margin-bottom: 2rem;
}

.promos .btn-outline-secondary {
  border-radius: 0;
  border-color: #fff;
  color: #fff;
  max-width: 15rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.promos .btn-outline-secondary:hover {
  background-color: #4d3c38;
}

/** About Page **/

.about .row {
  padding: 4rem 0;
}

.abt-grey {
  background-color: #f9f9f9;
}

.about p {
  max-width: 35rem;
  padding: 2rem 0;
}

.structure {
  padding: 4rem 0;
}

.structure h3 {
  font-size: 2em;
}

.structure .container {
  max-width: 70rem;
  padding: 4rem;
}

.structure .card {
  color: #fff;
}

.structure .card h2 {
  font-size: 1.2em;
}

.structure .card p {
  font-size: 0.8em;
}

.structure .structure-info {
  padding: 2rem 1rem;
}

.structure .structure-info .card-title,
.structure .structure-info .card-text {
  display: none;
}

.structure .structure-info:hover .card-title,
.structure .structure-info:hover .card-text {
  display: block;
}

.structure .card .red:hover {
  background: #f1392d;
  opacity: 0.9;
}

.structure .card .blue:hover {
  background: #116bab;
  opacity: 0.9;
}

.structure .card .green:hover {
  background: #a7cf53;
  opacity: 0.9;
}

.structure .card .gold:hover {
  background: #e9af4f;
  opacity: 0.9;
}

/** Solutions **/
.solutions .livicon-evo-holder .lievo-svg-wrapper {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 100% !important;
  padding-bottom: 100% !important;
  vertical-align: middle;
  overflow: hidden !important;
}
.solutions .livicon-evo-holder svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden !important;
  width: 100% !important;
  height: 100% !important;
}
.services .container {
  max-width: 60rem;
  padding: 4rem;
}

.services .card-img-overlay {
  display: none;
}

/** Work **/

.work .container {
  max-width: 90rem;
  padding: 4rem;
}

/** Contact Form **/
.contact h2 {
  font-size: 1.2169em;
  padding: 1rem 0;
}

.contact h3 {
  font-size: 3.0081em;
}

.contact-info {
  padding: 0 4rem;
}
.contact-box .card {
  border: none;
}

.contact-box .card-title {
  text-transform: uppercase;
}

.contact-form {
  padding: 4rem;
  margin: 0 !important;
  border: 0.01rem solid #54403c;
}

div.wpforms-container-full input {
  background: #f9f9f9;
}

/** Footer **/
footer {
  background-color: #4f3b37;
  color: #fff;
  padding: 2rem 1rem;
}
footer a {
  color: #fff;
  text-decoration: none;
}

footer .info p {
  margin-bottom: 0.3rem;
}

footer .footer-icons {
  display: inline-flex;
  margin-left: 0;
}

footer .footer-icons .list-group-item {
  background: none;
  border: none;
  padding: 0.5rem 0.25rem;
  text-indent: -9999px;
}

footer .footer-icons .list-group-item.instagram a {
  background: url('../img/instagram.png') no-repeat center;
  display: block;
  width: 2rem;
  height: 2rem;
}

footer .footer-icons .list-group-item.linkedin a {
  background: url('../img/linkedin.png') no-repeat center;
  display: block;
  width: 2rem;
  height: 2rem;
}

footer .footer-icons .list-group-item.vimeo a {
  background: url('../img/vimeo.png') no-repeat center;
  display: block;
  width: 2rem;
  height: 2rem;
}

footer .site-info {
  font-size: 0.8331em;
  padding: 2rem;
}

/***************
Media Queries
***************/
@media only screen and (max-width: 600px) {
  #svg-logo {
    display: block;
    position: absolute;
    top: -50px;
    left: 100px;
    width: 155px;
    z-index: 9999;
    margin-left: 8rem;
  }

  footer .footer-icons {
    display: inline-flex;
    margin-left: 0;
  }
}
