@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
/*******************
Custom Theme Styles
********************/
a,
a:visited,
a:active,
a:hover {
  color: #000;
  text-decoration: none;
}
/*********** 
  Typography
************/
body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 1);
}
h1 {
  color: #ffffff;
  font-size: 5.2581em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1.entry-title {
  text-transform: uppercase;
}

h2 {
  color: rgba(77, 60, 55, 1);
  text-transform: uppercase;
  font-size: 2em;
}

.page-heading {
  color: rgba(77, 60, 55, 1);
}

.page-heading h2 {
  font-size: 1.23em;
  letter-spacing: 0.1em;
}

.page-heading h3 {
  font-size: 3.02em;
}

/******** 
  Header 
********/
.post,
.page {
  margin: 0;
}

#svg-logo {
  display: block;
  position: absolute;
  top: -50px;
  left: -100px;
  width: 255px;
  z-index: 9999;
  margin-left: 8rem;
}

nav.navbar {
  background-color: #ffffff;
  padding: 50px 5px;
}

nav.navbar .navbar-toggler {
  color: #fff;
  background: rgba(77, 60, 55, 1);
}

.menu-menu-1-container {
  margin: 0 3rem 0 0;
}

#primary-menu.navbar-nav li a {
  font-size: 1.525em;
  color: rgba(77, 60, 55, 1);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em;
}

#primary-menu.navbar-nav li a:hover {
  border-bottom: 2px solid rgba(77, 60, 55, 1);
}

/******** 
  Main 
********/
.page-title {
  background-size: cover;
  background-position: center;
  padding: 12rem 0;
}

.page-body {
  margin: 3em auto;
}

.page-body .row {
  padding: 3em;
}

.box {
  color: rgba(77, 60, 55, 1);
  padding: 4rem;
  margin: 2rem;
}

.box h3 {
  font-size: 1.2169em;
  padding: 1rem 0;
}

.box h4 {
  font-size: 3.0081em;
}

.box-title {
  margin-bottom: 3rem;
}

/* The element to apply the animation to */
.intro h2 span {
  font-size: 5rem;
}

/************ 
  Slideshows 
************/
.slideshow .container-fluid {
  padding: 0;
}

.slideshow,
.carousel-control-next:not(:disabled),
.carousel-control-prev:not(:disabled) {
  cursor: url("../img/tdplogo-cursor.png"), auto;
}

/*********** 
  Sizzle Reel
***********/
.sizzle .down-icon {
  margin: 1rem 0 2rem 0;
}

/*********** 
  Solutions
***********/
.solutions.box {
  background-color: rgba(249, 249, 249, 1);
  margin: 0;
}

.solutions-container {
  max-width: 60rem;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.solutions a:visited,
.solutions a:active {
  color: #000;
}

.solutions .card {
  background: none;
  border: none;
}

.solutions .card-body {
  color: rgba(126, 126, 130, 1);
  padding: 0.5rem;
}

.solutions .card-title {
  color: rgba(77, 60, 55, 1);
  font-size: 2.25em;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.solutions .card-img-container {
  max-width: 10rem;
}

/******** 
  Promos 
********/

.promos {
  color: #fff;
  padding: 2rem;
}

.promos h3 {
  font-size: 1.2169em;
  padding: 1rem 0;
}

.promos h4 {
  font-size: 3.0081em;
}

.promo-box {
  margin-bottom: 2rem;
}

.promos .btn-outline-secondary {
  border-radius: 0;
  border-color: #fff;
  color: #fff;
  max-width: 15rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.promos .btn-outline-secondary:hover {
  background-color: rgba(77, 60, 55, 1);
}

/** About Page **/

.about .row {
  padding: 4rem 0;
}

.abt-grey {
  background-color: rgba(249, 249, 249, 1);
}

.about .about-container {
  max-width: 80rem;
}

.about p {
  padding: 2rem 0;
}

.structure {
  padding: 4rem 0;
}

.structure h3 {
  font-size: 2em;
}

.structure .container {
  max-width: 70rem;
  padding: 4rem;
}

.structure .card {
  color: #fff;
}

.structure .card h2 {
  color: #fff;
  font-size: 1.2em;
}

.structure .card p {
  font-size: 0.8em;
}

.structure .structure-info {
  padding: 2rem 1rem;
}

.structure .structure-info .card-title,
.structure .structure-info .card-text {
  display: none;
}

.structure .structure-info:hover .card-title,
.structure .structure-info:hover .card-text {
  display: block;
}

.structure .card .red:hover {
  background: rgba(239, 67, 35, 1);
  opacity: 0.9;
}

.structure .card .blue:hover {
  background: rgba(13, 105, 175, 1);
  opacity: 0.9;
}

.structure .card .green:hover {
  background: rgba(171, 208, 55, 1);
  opacity: 0.9;
}

.structure .card .gold:hover {
  background: rgba(77, 60, 55, 1);
  opacity: 0.9;
}

/** Solutions **/
.solutions .livicon-evo-holder .lievo-svg-wrapper {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 100% !important;
  padding-bottom: 100% !important;
  vertical-align: middle;
  overflow: hidden !important;
}
.solutions .livicon-evo-holder svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden !important;
  width: 100% !important;
  height: 100% !important;
}

.solutions .explore a.btn {
  color: rgba(77, 60, 55, 1);
  border: 1px solid;
  border-color: rgba(77, 60, 55, 1);
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1rem;
}

/** Services Page **/
#services {
  padding-bottom: 80px;
}
.services.page-heading {
  padding-top: 80px;
  padding-bottom: 40px;
}
.services.container {
  max-width: 60rem;
}
#servicebox {
  position: relative;
}
.services .container {
  max-width: 60rem;
  padding: 4rem;
}

.services .card {
  border: none;
}

.services .card-img-overlay {
  display: none;
}

.services .service.creative {
  animation: fadeInUpBig; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.services .service.events {
  animation: fadeInUpBig; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s; /* don't forget to set a duration! */
}

.services .service.broadcast {
  animation: fadeInUpBig; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */

}

.services .service.technology {
  animation: fadeInUpBig; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2.5s; /* don't forget to set a duration! */
}

.services .event-info ul {
  margin: 0;
}

.service .event-info {
  display: none;
  color: #fff;
  position: absolute;
  overflow: hidden;
  font-size: 0.8em;
  margin: 1rem;
  max-width: 33rem;
  min-height: 445px;
  padding: 2rem;
  top: -60px;
  bottom: -60px;
  z-index: 999;
}

.services .event-info.creative {
  background: rgba(13, 105, 175, 1);
  right: -10%;
}

.services .event-info.events {
  background: rgba(171, 208, 55, 1);
  right: -10%;
}

.services .event-info.broadcast {
  background: rgba(77, 60, 55, 1);
  left: -10%;
}

.services .event-info.technology {
  background: rgba(239, 67, 35, 1);
  left: -10%;
  min-height: 26rem;
}

.tech-body {
  background-color: rgba(249, 249, 249, 1);
  font-size: 0.8em;
  padding: 2rem 3rem 3rem 3rem;
  max-width: 35rem;
  min-height: 23rem;
}

.tech-body h3 {
  font-size: 2.8em;
  text-transform: uppercase;
}
.tech-body h4 {
  color: rgba(239, 67, 35, 1);
  font-size: 2.3331em;
}

.tech-body ul {
  margin: 0;
}

.tech-body ul li::marker {
  color: rgba(239, 67, 35, 1);
}

.tech-img .play-btn {
  top: 8rem;
  left: -4rem;
}

.panel-img {
  padding: 0;
}

/** Work **/
.filtering {
  margin-bottom: 40px;
}
.filtering span {
  border: none;
  color: rgba(77, 60, 55, 1);
  cursor: pointer;
  font-size: 1.2169em;
  font-weight: normal;
  letter-spacing: 0.1em;
  padding: 0 1.5rem;
  display: inline-block;
  margin-bottom: 0.3125em;
  text-transform: uppercase;
}

.filtering span:last-child {
  margin: 0;
}

/* ---- .grid-item ---- */
/* .grid-sizer,
.grid-item { width: 20%; }

.grid-item--width2 { width: 40%; } */

/* .grid-item {
  width: 350px;
  height: 100px;
  padding: 0;
}

.grid-item--height2 {
  width: 300px;
  height: 200px;
} */

.work .card {
  border: none;
}

.work .card-img {
  border-radius: 0;
}

.work .card-body {
  padding: 1.5rem 0;
}

.work .card-body a {
  border-radius: 0;
  text-transform: uppercase;
}

.work .card-category {
  color: rgba(77, 60, 55, 1);
  font-size: 1.2169em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.work .card-title {
  color: rgba(77, 60, 55, 1);
  font-size: 1.6669em;
  text-transform: capitalize;
}

.post-type-archive-work .pagination {
  display: block;
}

.post-type-archive-work .more a.btn {
  color: rgba(77, 60, 55, 1);
  border: 1px solid;
  border-color: rgba(77, 60, 55, 1);
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1rem 2rem;
}

/** Contact Form **/
.contact h2 {
  font-size: 1.2169em;
  padding: 1rem 0;
}

.contact h3 {
  font-size: 3.0081em;
}

.contact-info {
  padding: 0 4rem;
}
.contact-box .card {
  border: none;
}

.contact-box .card-title {
  text-transform: uppercase;
}

.card-body.social ul {
  margin: 0;
}

.card-body.social ul li {
  border: none;
  padding: 1rem 1rem 0 0;
}

.contact-form {
  padding: 2.5rem 3.5rem;
  margin: 0 !important;
  border: 0.01rem solid rgba(77, 60, 55, 1);
}

.contact-form div.wpforms-container-full .wpforms-field-label {
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.1em;
}

.contact-form
  div.wpforms-container-full
  button[type="submit"] {
  background-color: #ffffff !important;
  border: 1px solid rgba(77, 60, 55, 1);
  border-radius: 0;
  color: rgba(77, 60, 55, 1) !important;
  display: block;
  width: 100%;
  max-width: 10rem;
  margin: 0 auto;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.contact-form div.wpforms-container-full input[type="text"],
.contact-form div.wpforms-container-full input[type="email"],
.contact-form
  div.wpforms-container-full
  .wpforms-form
  textarea.wpforms-field-medium {
  background: rgba(249, 249, 249, 1);
  border-radius: 0;
}

/** Footer **/
footer {
  background-color: rgba(77, 60, 55, 1);
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  padding: 2rem 1rem;
}
footer a {
  color: #fff;
  text-decoration: none;
}

footer .info p {
  margin-bottom: 0.3rem;
}
.footer-logo {
  text-align: right;
}
.footer-info {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}
#copyright {
  text-align: center;
  font-size: 12px;
  padding-top: 20px;
}
footer .footer-icons {
  display: inline-flex;
  margin-left: 0;
}

footer .footer-icons .list-group-item {
  background: none;
  border: none;
  padding: 0.5rem 0.25rem;
  text-indent: -9999px;
}

footer .footer-icons .list-group-item.instagram a {
  background: url("../img/instagram.png") no-repeat center;
  display: block;
  width: 2rem;
  height: 2rem;
}

footer .footer-icons .list-group-item.linkedin a {
  background: url("../img/linkedin.png") no-repeat center;
  display: block;
  width: 2rem;
  height: 2rem;
}

footer .footer-icons .list-group-item.vimeo a {
  background: url("../img/vimeo.png") no-repeat center;
  display: block;
  width: 2rem;
  height: 2rem;
}

footer .site-info {
  font-size: 0.8331em;
  padding: 2rem;
}

/***************
Media Queries
***************/
@media only screen and (max-width: 768px) {
  #svg-logo {
    display: block;
    position: absolute;
    top: -25px;
    left: 100px;
    width: 155px;
    z-index: 9999;
    margin-left: 8rem;
  }

  .navbar-nav {
    margin: 0;
  }

  #primary-menu.navbar-nav {
    margin: 0;
    padding: 2rem 0 0 0;
  }

  #primary-menu.navbar-nav li {
    padding: 1rem 0 0 0;
  }

  .box {
    padding: 2rem;
    margin: 2rem;
  }

  .intro h2 span {
    font-size: 3.5rem;
  }

  .solutions .card-img-container {
    max-width: 100%;
    margin: 0 auto;
  }

  .solutions .livicon-evo-holder {
    margin: 0 auto;
  }

  .service .tech-info {
    background-color: rgba(249, 249, 249, 1);
  }

  .service .tech-info span.p-2.tech-icon {
    display: inline-block;
  }

  .tech-img .play-btn {
    top: 8rem;
    left: 6rem;
  }

  footer .footer-icons {
    display: inline-flex;
    margin-left: 0;
  }

  .structure .container {
    padding: 1rem;
  }

  /* services overrides on mobile */
  .service .event-info {
    position: static !important;
    display: block !important;
    opacity: 1 !important;
    max-width: none;
  }
}
